body {
    background-image: url("coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.quote-btn {
    margin: 0 20px;
    background: inherit;
    border: none;
    font-size: 40px;
}

.item {
    text-decoration: none;
    color: rgb(25, 24, 24);

}

.item:hover {
    font-size: 50px;
    padding: 12px 25px;
    color: white;
}
