body {
    background-image: url("coffee3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.item {
    text-decoration: none;
}

#parOne {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    color: rgb(252, 252, 252);
    font-size: 40px;
}

#btnOne, .item-button {
    padding: 10px;
    font-size: 20px;
    font-style: normal;
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: 2px solid transparent;
    transition: all 0.3s ease; 
}


#btnOne:hover {
    font-size: 30px;
    padding: 12px 25px;
    color: white;
    border: 2px solid white; 
}


.item-button:hover {
    font-size: 30px;
    padding: 12px 25px;
    color: rgb(117, 104, 104);
    border: 2px solid rgb(117, 104, 104);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7); 
}
